<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysCourseDeptMapper">

    <resultMap id="BaseResultMap" type="com.dy.domain.SysCourseDept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="deptId" column="dept_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,dept_id
    </sql>
    <delete id="deleteByCourseId">
        delete from sys_course_dept where course_id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{courseIds}
        </foreach>
    </delete>
    <select id="getDeptId" resultType="java.lang.Long">
        select distinct cd.dept_id
        from sys_course_dept cd
        left join sys_dept d on d.id = cd.dept_id
        where cd.course_id = #{courseId} and d.dept_level = #{deptLevel}
    </select>
    <select id="getDeptIds" resultType="java.lang.Long">
        select distinct id from sys_course_dept where course_id = {courseId}
    </select>
    <select id="getdeptNameByCourseId" resultType="java.lang.String">
        select distinct d.dept_name
        from sys_dept d
            left join sys_course_dept cd on cd.dept_id = d.id
        where cd.course_id = #{courseId} and d.dept_level = #{deptLevel} and d.status = 0 and d.del_flag = 0
    </select>
</mapper>
