<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysCheckinMapper">

    <resultMap id="BaseResultMap" type="com.dy.domain.SysCheckin">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="type" column="type" jdbcType="BOOLEAN"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="promoterId" column="promoter_id" jdbcType="BIGINT"/>
            <result property="lng" column="lng" jdbcType="DOUBLE"/>
            <result property="lat" column="lat" jdbcType="DOUBLE"/>
            <result property="startTime" column="start_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="isFinish" column="is_finish" jdbcType="BOOLEAN"/>
    </resultMap>

    <sql id="Base_Column_List">
        select
        id,type,course_id,
        promoter_id,lng,lat,
        start_time,end_time,is_finish
        from sys_checkin
    </sql>
    <select id="getActiveCheckin" resultType="com.dy.domain.SysCheckin">
        <include refid="Base_Column_List"/>
        where course_id = #{courseId}
    </select>
</mapper>
