<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysClassMapper">

    <resultMap id="BaseResultMap" type="com.dy.domain.SysClass">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="className" column="class_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="enableJoin" column="enable_join" jdbcType="BOOLEAN"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateBy" column="last_update_by" jdbcType="BIGINT"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="BOOLEAN"/>
            <result property="orderNum" column="order_num" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,class_name,status,
        enable_join,create_by,create_time,
        last_update_by,last_update_time,del_flag,
        order_num
    </sql>
</mapper>
