<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysCourseStudentsMapper">

    <resultMap id="BaseResultMap" type="com.dy.domain.SysCourseStudents">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="studentId" column="student_id" jdbcType="BIGINT"/>
            <result property="score" column="score" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,course_id,student_id,
        score
    </sql>

    <sql id="SysStudentDto">
        select distinct
            cs.id, cs.course_id,cs.student_id,cs.score,
            u.user_name,u.nick_name,u.email,u.phone,u.identity_number
        from sys_course_students cs
        left join sys_user u on cs.student_id = u.id
    </sql>
    <update id="updateScore">
        update sys_course_students
        set score=#{score}
        where course_id = #{courseId} and student_id = #{studentId}
    </update>
    <delete id="removeStudents">
        delete from sys_course_students where course_id = #{courseId} and student_id in
        <foreach collection="studentIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="getCoursesByStudentId" resultType="com.dy.domain.SysCourse">
        select distinct
            c.id,c.course_name,c.term,
            c.teacher_id,c.class_id,c.enable_join,
            c.create_by,c.create_time,c.last_update_by,
            c.last_update_time
        from sys_course as c
        left join sys_course_students as cs on cs.course_id = c.id
        where cs.student_id = #{studentId}
    </select>

    <select id="getStudents" resultType="com.dy.dto.system.student.SysStudentDto">
        <include refid="SysStudentDto"/> where cs.course_id = #{courseId}
    </select>
    <select id="getStudentIds" resultType="java.lang.Long">
        select distinct student_id from sys_course_students where course_id = #{courseId}
    </select>
    <select id="getScore" resultType="java.lang.Long">
        select distinct score from sys_course_students where course_id = #{courseId} and student_id = #{studentId}
    </select>
</mapper>
