<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysDictTypeMapper">

    <resultMap id="BaseResultMap" type="com.dy.domain.SysDictType">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="dictName" column="dict_name" jdbcType="VARCHAR"/>
            <result property="dictType" column="dict_type" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="BOOLEAN"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateBy" column="last_update_by" jdbcType="BIGINT"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        select
            id,dict_name,dict_type,status,create_by,create_time,last_update_by,last_update_time,remark
        from sys_dict_type
    </sql>
    <delete id="deleteDictTypeByIds">
        delete from sys_dict_type where id in
        <foreach collection="array" item="dictId" open="(" separator="," close=")">
            #{dictId}
        </foreach>
    </delete>
    <select id="listAllDictTypes" resultType="com.dy.dto.SysDictTypeDto">
        <include refid="Base_Column_List"/>
    </select>
    <select id="getDictTypeById" resultType="com.dy.domain.SysDictType">
        <include refid="Base_Column_List"/>
        where id = #{id}
    </select>
</mapper>
