<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dy.mapper.SysRoleMapper">

    <resultMap id="SysRoleResult" type="com.dy.domain.SysRole">
            <id property="roleId" column="role_id" jdbcType="BIGINT"/>
            <result property="roleName" column="role_name" jdbcType="VARCHAR"/>
            <result property="roleKey" column="role_key" jdbcType="VARCHAR"/>
            <result property="roleSort" column="role_sort" jdbcType="INTEGER"/>
            <result property="dataScope" column="data_scope" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="lastUpdateBy" column="last_update_by" jdbcType="VARCHAR"/>
            <result property="lastUpdateTime" column="last_update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="selectRoleVo">
        select
            role_id,role_name,role_key,role_sort,data_scope,status,create_by,create_time,
            last_update_by,last_update_time,del_flag,remark
        from sys_role
    </sql>

    <!-- 查询所有角色 -->
    <select id="listRoles" resultMap="SysRoleResult">
        <include refid="selectRoleVo"/>
    </select>
</mapper>
